.post {
  border: 2px solid rgba(46, 46, 46, 0.664);
  padding: 20px 30px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.726);
  width: 100%;
  max-width: 40%;
  margin: 30px auto;
}

@media (max-width: 720px) {
  .post {
    max-width: 74%;
  }
}

.name-icon {
  display: flex;
}

.displayPosts .postName {
  font-size: 30px;
  margin-top: 1px;
}

.displayPosts .postContent {
  margin-top: 20px;
  margin-left: 55px;
  display: flex;
  color: rgb(46, 46, 46);
}

@media screen and (max-width: 720px) {
  .displayPosts .postContent {
    margin-left: 10px;
  }
}

.content-p-label {
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 4px;
  max-width: 90px;
}

.content-p {
  font-size: 17px;
  font-weight: bold;
  margin-left: 30px;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 4px;
}

.facebook-icon {
  font-size: 30px;
  transition: 0.3s;
  touch-action: manipulation;
  padding-top: 5px;
  padding-left: 15px;
}

.board-button {
  width: fit-content;
  margin: 0px 0px 0px auto;
  padding-left: 50px;
}

.board-edit {
  margin-right: 15px;
}

.search-by-name {
  text-align: center;
  margin-top: 28px;
}

.search-box {
  height: 30px;
  width: 250px;
}

.contents-notfound {
  margin-top: 220px;
  margin-bottom: 220px;
  text-align: center;
}
